<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid" style="background-color:#1E88E5;color:#fff;height:200px;">
  <h1>DIAMETRIC</h1>
  <h3>BLOOD GLUCOSE LEVEL PREDICTION </h3>
  <p>Using Least Angle Regression (LARS) to predict your blood glucose level.</p>
  <br>
   <form action="{{ url_for('second') }}">
    <input type="submit" value="Food Intake Monitor" class="btn btn-danger">
	</form>
</div>

<div class="container-fluid" style="background-color:#ff9800;color:#fff;height:1400px;">
  <center>
	<h3><p>PREDICTED GLUCOSE VALUE IS: {{ variable }}</p><br><br><br></h3>
    <center><img src="static/glucosepredictor.png"  alt="Glucose predictor graph" style="width:800px;height:600px;"></center>
<br><br>
   


</div>

</body>
</html>