<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid" style="background-color:#1E88E5;color:#fff;height:200px;">
  <h1>DIAMETRIC</h1>
  <h3>FOOD CONSUMPTION PREDICTION </h3>
  <p>The graph indicates the change of Blood glucose level for a time interval of 4hours</p>
   
</div>
<div class="container-fluid" style="background-color:#ff9800;color:#fff;height:1400px;">
   <center> <h3>Predicted glucose level is: {{ variable }}<br><br></h3>
   <h3> Result of the food predictor :{{ variable1 }}<br><br></h3>
    <img src="static/foodpredictor.png"  alt="Glucose predictor graph" style="width:800px;height:600px;"></center>
</div>
</body>
</html>